@model ShippingItemVm

@{
    ViewBag.Title = "פריט קיים";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="  col-md-12 well well-lg ">
        <div class="btn-group" style="margin-left: 4px">
            <button type="button" id="btnEdit"  data-toggle="tooltip"  title="שמור" data-placement="top" 
                class="btn btn-success btn-circle btn-xl">
                <img src="~/Content/img/save32x32.png" />
            </button>
        </div>
        <div class="btn-group" style="margin-left: 4px">
            <button type="button" id="btnCancel" data-toggle="tooltip"  title="ביטול" data-placement="top"
                  data-url="@Url.Action("Index", "ShipItem", new { id = ViewBag.ShipId, order = @ViewBag.OrderNumber })"  
                class="btn btn-danger btn-circle btn-xl">
                <img src="~/Content/img/back32x32.png" />
            </button>
        </div>
    </div>
</div>
<h4>משלוח חדש  @ViewBag.OrderNumber  </h4>
@using (Html.BeginForm("Edit", "ShipItem", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frm" }))
{
    @Html.AntiForgeryToken()
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="@Url.Action("Edit", "S", new { id = ViewBag.ShipId })" type="button" class="btn btn-default btn-circle">1</a>
                <p>ערוך הזמנה</p>
            </div>
            <div class="stepwizard-step">
                <a href="@Url.Action("Index", "ShipItem", new { id = Model.ShipId, order = @ViewBag.OrderNumber })" type="button" class="btn btn-primary btn-circle">2</a>
                <p>הוסף פריטי משלוח</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>אשר הזמנה</p>
            </div>
        </div>
    </div>

    <div class="form-horizontal">

        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.Id); 
        @Html.HiddenFor(m => m.ShipId); 

 <div class="form-group">
     @Html.LabelFor(model => model.OrderNumber, new { @class = "control-label col-md-2" })
     <div class="col-md-10">
         @Html.DisplayFor(model => model.OrderNumber)
     </div>
 </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ProductId, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.ProductId, (SelectList)ViewBag.Products, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Total, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Total, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Total)
            </div>
        </div>

       @* <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="עדכן פריט חדש" />
            </div>
        </div>*@

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/rantoolbx.js?v=2"></script>
}
