@model EditUserViewModel

@{
    ViewBag.Title = "ערוך משתמש";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="  col-md-12 well well-lg ">
        <div class="btn-group" style="margin-left: 4px">
            <button type="button" id="btnEdit" data-toggle="tooltip" title="שמור" data-placement="top"
                class="btn btn-success btn-circle btn-xl">
                <img src="~/Content/img/save32x32.png" />
            </button>
        </div>
        <div class="btn-group" style="margin-left: 4px">
            <button type="button" id="btnCancel" data-toggle="tooltip"  title="ביטול" data-placement="top"
                  data-url="@Url.Action("Index")"  
                class="btn btn-danger btn-circle btn-xl">
                <img src="~/Content/img/back32x32.png" />
            </button>
        </div>
    </div>
</div>
<h4>@ViewBag.Title</h4>
<div class="row">
    <div class="  col-md-12 ">


        @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frm" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.UserId)
            @Html.HiddenFor(model => model.IsAdmin)
            <div class="form-horizontal">
                <h4>פרטים</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">פרטי משתמש</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.UserName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tel, new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Tel, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Tel)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmpId, new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.EmpId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EmpId)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">כתובת למשלוחים</h3>
                    </div>
                    <div class="panel-body">
                        @(Html.EditorFor(m => m.Address))
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">תפקידים</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-2 control-label">@Html.LabelFor(m => m.IsActive)</div>
                            <div class="col-md-4">
                                @Html.CheckBoxFor(m => m.IsActive, new { @class = "switchboot", data_toggle = "toggle", data_off = "לא פעיל", data_on = "פעיל" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label"></div>
                            <div class="col-md-2">
                                @Html.CheckBoxFor(m => m.IsOrgMangager)
                                @Html.LabelFor(m => m.IsOrgMangager)
                            </div>
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <div class="col-md-2">
                                    @Html.CheckBoxFor(m => m.IsRunner)
                                    @Html.LabelFor(m => m.IsRunner)
                                </div>
                            }

                            <div class="col-md-2">
                                @Html.CheckBoxFor(m => m.IsCreateOrder)
                                @Html.LabelFor(m => m.IsCreateOrder)
                            </div>
                            <div class="col-md-2">
                                @Html.CheckBoxFor(m => m.IsAcceptOrder)
                                @Html.LabelFor(m => m.IsAcceptOrder)
                            </div>
                        </div>
                    </div>
                </div>

                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">ניהול</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OrgId, new { @class = "col-md-2 control-label" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.OrgId, (SelectList)ViewBag.Orgs, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
@*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="שמור" class="btn btn-default" />
                </div>
            </div>*@
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/rantoolbx.js?v=2"></script>
}
