@model Michal.Project.Models.RegisterViewModel
@{
    ViewBag.Title = "רישום משתמש חדש";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
  
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    // Add new properties here:
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
     <div class="form-group">
            @Html.LabelFor(model => model.Tel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tel)
            </div>
        </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmpId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EmpId, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label"></div>
        <div class="col-md-2">
            @Html.CheckBoxFor(m => m.IsOrgMangager)
            @Html.LabelFor(m => m.IsOrgMangager)
        </div>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <div class="col-md-2">
                @Html.CheckBoxFor(m => m.IsRunner)
                @Html.LabelFor(m => m.IsRunner)
            </div>
        }

        <div class="col-md-2">
            @Html.CheckBoxFor(m => m.IsCreateOrder)
            @Html.LabelFor(m => m.IsCreateOrder)
        </div>
        <div class="col-md-2">
            @Html.CheckBoxFor(m => m.IsAcceptOrder)
            @Html.LabelFor(m => m.IsAcceptOrder)
        </div>
    </div>

    <div class="form-group">
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            @Html.LabelFor(m => m.OrgId, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.OrgId, (SelectList)ViewBag.Orgs, new { @class = "form-control" })
            </div>
        }
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="הרשמה" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
