@model Michal.Project.Models.CompanyVm

@{
    ViewBag.Title = " חברת המשלוחים";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ordernumber {
 <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars "></i>@Model.Name  <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Details", "Company", new { companyid=@Model.Id})"><i class="fa fa-motorcycle"></i> פרטים </a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Sla", "Company", new { companyid=@Model.Id})"><i class="fa fa-rocket"></i> זמני תגובה  </a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("bussinessClosure", "Company", new { companyid=@Model.Id})"><i class="fa fa-clock-o"></i> מועדי פתיחת העסק </a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("DaysOff", "Company", new { companyid=@Model.Id})"><i class="fa fa-coffee"></i> לוח חופשות  </a></li>
                              
                                
                            </ul>
</li>
}
<div class="row">
    <div class="col-md-10">
        <h4><b class="centered">@Model.Name</b> </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <ul class="list-group">
            <li class="list-group-item">
                <span class="label label-primary">@Model.Name</span>
                <span class="prefix  pull-right">שם חברה :</span>
            </li>
    </div>
</div>
