@model Michal.Project.Models.OrderView

<hr style="border: dotted thin" />
<div class="message-wrap col-lg-12">
    <div class="msg-wrap">
        <div class="media msg">
            @using (Html.BeginForm("AddComment", "Comment", FormMethod.Post, new { @id = "frmComment", @name = "frmComment" }))
            {
                <input type="hidden" name="shipIdComment" id="shipIdComment" value="@Model.ShippingVm.Id" />
                <a class="pull-left" href="#">
                    @Html.Image(@Model.JobTitle.JobType)
                </a>
                <div class="media-body">
                    <small class="pull-right time"><i class="fa fa-clock-o"></i>@DateTime.Now.ToString("HH:mm")</small>

                    <h5 class="media-heading">@Model.JobTitle.FullName (אתה)</h5>
                    <small class="col-lg-10">
                        <textarea class="form-control send-message" rows="3" name="commnetText"
                            placeholder="רשום הערה..."></textarea></small>
                    @* <div class="btn-panel">*@

                    <a href="#" onclick="document.getElementById('frmComment').submit();" class=" col-lg-2 text-left btn send-message-btn pull-left" role="button"><i class="fa fa-plus"></i><b>שלח הודעה</b></a>
                    @*</div>*@

                </div>
                }
        </div>
        @foreach (var commentItem in @Model.CommentsVm)
        {
            <div class="media msg">
                <a class="pull-left" href="#">
                    @Html.Image(commentItem.JobType)
                </a>
                <div class="media-body">
                    <small class="pull-right time"><i class="fa fa-clock-o"></i>@commentItem.DateComment</small>

                    <h5 class="media-heading">@commentItem.Name (@commentItem.JobTitle)</h5>
                    <small class="col-lg-10">@commentItem.Desc</small>
                </div>
            </div>
            }
    </div>
</div>
<hr style="border: dotted thin" />
