<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin")
    @Styles.Render("~/Content/admin")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>


    <style>
        /*http://stackoverflow.com/questions/14735274/bootstrap-css-hides-portion-of-container-below-navbar-navbar-fixed-top*/
        body {
            padding-top: 70px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/Content/img/c32.png" />
                    <span>רן שליחויות</span></a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="@Url.Action("Create", "S")"><span class="glyphicon glyphicon-plus"></span>צור משלוח חדש </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ניהול<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Account/">ניהול משתמשים</a></li>
                            <li><a href="@Url.Action("Index", "Cache")">רענון Cache</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">תצוגות<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @Html.Partial("_viewListsHeader")
                            @* <li><a href="#">משלוחים שלי</a></li>
                            <li><a href="#">דוח מתחילת החודש</a></li>
                            <li><a href="#">משלוחים חדשים</a></li>*@
                        </ul>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
                <div class="col-sm-3 col-md-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="חיפוש הזמנה" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <div class="container">
        @RenderBody()
        <hr />
        @*  
        <footer>
            <p>&copy; @DateTime.Now.Year רן שליחויות</p>
        </footer>
        *@
    </div>
    </div>
    @RenderSection("scripts", required: false)
    <script>

        $(document).ready(function () {
            //debugger;
            $('.switch').bootstrapSwitch();
            $('#chkAll').click(function () {
                var showAll = $("#chkAll").prop('checked');
                var viewType = $('#viewType').val();
                var currentPage = $('#currentPage').val() == null ? 1 : $('#currentPage').val();
                $('#viewAll').val(showAll);
                changeView(viewType, fmcurrentPage);
            })
        });
        function changeViewType(viewType) {
            //debugger;
            $('#viewType').val(viewType);
            var viewAll = $('#viewAll').val();
            var currentPage = $('#currentPage').val() == null ? 1 : $('#currentPage').val();
            alert(currentPage);
            changeView(viewType, viewAll, currentPage);
            // window.location.replace=
        }
        function changeView(viewType, viewAll, page) {
            var viewUrl = "/s?viewType=" + viewType + "&viewAll=" + viewAll;
            //   alert(viewUrl);
            window.location.href = viewUrl;
        }


    </script>
</body>
</html>
