@model Michal.Project.Contract.View.IView

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-university "></i>פרטי ארגון  <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Details", "Org", new { orgid = @Model.Id })"><i class="fa  fa-university"></i>פרטים </a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("GetDistances", "Org", new { orgid = @Model.Id })"><i class="fa  fa-road"></i>מרחקים </a></li>
        <li class="divider"></li>
         <li><a href="@Url.Action("GetProducts", "Org", new { orgid = @Model.Id })"><i class="fa fa-envelope-o"></i> סוגי חבילות </a></li>
        <li class="divider"></li>
        @if (Request.IsAuthenticated && (User.IsInRole(HelperAutorize.RoleAdmin) || User.IsInRole(HelperAutorize.RoleOrgManager)))
        {
            <li><a href="/Account/"><i class="fa fa-user-plus"></i>משתמשי ארגון </a></li>
                               
        }

    </ul>
</li>
