@model Michal.Project.Models.OrderView

@Html.Partial("_StatusConfirm", Model.Status)
<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputOrderTrackingID" class="col-sm-2 control-label">מספר משלוח</label>
                            <div class="col-sm-10">
                                <div class="col-md-6">
                                    @Html.TextBox("txtTitle", (string)ViewBag.OrderNumber)
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="rantoolbox col-md-6 col-xs-12 col-sm-12">
                    <a class="btn" href="@Url.Action("Print", "S", new { id = @Model.ShippingVm.Id })"><i class="fa fa-print  circle"></i></a>

                    @*    <i class="fa fa-file-image-o circle"></i>*@
                    <i class="fa fa-whatsapp  circle"></i>
                    @*     <i class="fa fa-pinterest circle"></i>*@
                    @*  <i class="fa fa-youtube circle"></i>*@
                    @*  <button type="button" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-ok"></i></button>
                <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="glyphicon glyphicon-list"></i></button>
          *@
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <h4>סטאטוס משלוח הזמנה</h4>

        <ul class="list-group">
            <li class="list-group-item">
                <span class="label label-success">@Model.ShippingVm.Status</span>
                <span class="prefix  pull-right">סטאטוס:</span>
            </li>
            <li class="list-group-item">
                <span class="label label-success">@Model.ShippingVm.CreatedOn</span>
                <span class="prefix pull-right">תאריך יצירה:</span>
            </li>
            <li class="list-group-item">
                <span class="label label-success">@Model.ShippingVm.ModifiedOn</span>
                <span class="prefix pull-right">תאריך אחרון שעודכן:</span>
            </li>
            <li class="list-group-item">
                <span class="label label-success">@Html.Partial("_addressView", Model.ShippingVm.SourceAddress)</span>
                <span class="prefix  pull-right">מ:</span>
            </li>
            <li class="list-group-item">
                <span class="label label-success">@Model.ShippingVm.NameSource</span>
                <span class="prefix pull-right">איש קשר (מקור)</span>
            </li>
            <li class="list-group-item">
                <span class="label label-success"><a href="tel:+@Model.ShippingVm.TelSource">@Model.ShippingVm.TelSource</a></span>
                <span class="prefix pull-right">טלפון איש קשר (מקור)</span>
            </li>
            <li class="list-group-item">
                <span class="label label-success">@Html.Partial("_addressView", Model.ShippingVm.TargetAddress) </span>
                <span class="prefix  pull-right">אל:</span>
            </li>
            <li class="list-group-item">
                <span class="label label-success">@Model.ShippingVm.Recipient</span>
                <span class="prefix pull-right">איש קשר (יעד)</span>
            </li>

            <li class="list-group-item">
                <span class="label label-success"><a href="tel:+@Model.ShippingVm.TelTarget">@Model.ShippingVm.TelTarget</a></span>
                <span class="prefix pull-right">טלפון איש קשר (יעד)</span>
            </li>


        </ul>
    </div>
    <div class="col-md-3">
        <div class="btn-group">
            <a class="btn btn-lg btn-info" href="@Url.Action("Print", "S", new { id = @Model.ShippingVm.Id })"><span class="hidden-phone">הדפס</span><i class="fa  fa-print  fa-2x pull-right"></i></a>
        </div>
        <img src="http://chart.googleapis.com/chart?cht=qr&chs=200x200&chld=L|1&chl=@HttpContext.Current.Server.UrlEncode(HttpContext.Current.Request.Url.AbsoluteUri)" />
        <!--http://chart.googleapis.com/chart?chs=100x100&cht=qr&chld=L|1&chl=http%3A%2F%2Fcreate.stephan-brumme.com
            http://chart.googleapis.com/chart?cht=qr&chs=200x200&chld=L|1&chl=http%3a%2f%2flocalhost%3a4545%2fS%2fShow%2f1d0ecb74-8e90-4a51-884c-e0e18dac52b0
            
             -->

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_comments")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_TimeLinePartial", Model.TimeLineVms)
    </div>
</div>
<div class="row">
    @Html.HiddenFor(o => o.Location.TargetLat)
    @Html.HiddenFor(o => o.Location.TargetLng)
    @Html.HiddenFor(o => o.Location.SourceLng)
    @Html.HiddenFor(o => o.Location.SourceLat)
    @Html.Partial("_map", Model.Location)
    @*  @RenderSection("map", required: false)*@

</div>

<script>

    var map;
    function initMap() {
        var lng = $("#Location_TargetLng").val();
        var lat = $("#Location_TargetLat").val();

        var slng = $("#Location_SourceLng").val();
        var slat = $("#Location_SourceLat").val();
        // alert(slng + "," + slat);
        var point = { lat: parseFloat(lat), lng: parseFloat(lng) };
        var spoint = { lat: parseFloat(slat), lng: parseFloat(slng) };

        var map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng(0, 0),
            zoom: 0,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });


        // map: an instance of GMap3
        //  Make an array of the LatLng's of the markers you want to show
        //var LatLngList = new Array(new google.maps.LatLng(parseFloat(lat), parseFloat(lng)), new google.maps.LatLng(parseFloat(slat), parseFloat(slng)));

        //// latlng: an array of instances of GLatLng
        //var latlngbounds = new google.maps.LatLngBounds();
        //latlng.each(function (n) {
        //    latlngbounds.extend(n);
        //});
        //map.setCenter(latlngbounds.getCenter());
        //map.fitBounds(latlngbounds);
        var infowindow = new google.maps.InfoWindow;
        infowindow.setContent('<b>יעד קבלת המשלוח</b>');

        var sinfowindow = new google.maps.InfoWindow;
        sinfowindow.setContent('<b> שליחת המשלוח</b>');

        var marker = new google.maps.Marker({ map: map, position: point });
        var smarker = new google.maps.Marker({ map: map, position: spoint, icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png' });


        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
        smarker.addListener('click', function () {
            sinfowindow.open(map, smarker);
        });


        var bounds = new google.maps.LatLngBounds();
        bounds.extend(new google.maps.LatLng(parseFloat(lat), parseFloat(lng)));
        bounds.extend(new google.maps.LatLng(parseFloat(slat), parseFloat(slng)));
        map.fitBounds(bounds);

        new google.maps.Rectangle({
            bounds: bounds,
            map: map,
            fillColor: "#000000",
            fillOpacity: 0.2,
            strokeWeight: 0
        });
    }


</script>
<script src="https://maps.googleapis.com/maps/api/js??v=3&amp;sensor=false&amp;key=AIzaSyBe9b-j46UufjGHjOYbc8051cR0fW5UZN8&callback=initMap"
    async defer></script>

<!-- 
    prod
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN5IIadRYEhkXYfL-velSE46dRHQ5wmI0&callback=initMap"
    async defer></script>


    dev
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBe9b-j46UufjGHjOYbc8051cR0fW5UZN8&callback=initMap"
    async defer></script>
    -->
