@model Michal.Project.Models.OrderDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>   @Model.Name - @Model.Title  </h2>
<div class="row">
    <div class="  col-md-12 well well-lg ">
        <div class="btn-group" style="margin-left: 4px">
            <button type="button" id="btnEditPrice" data-toggle="tooltip" title="שמור" data-placement="top"
                class="btn btn-success btn-circle btn-xl">
                <img src="~/Content/img/ok32x32.png" />
            </button>
        </div>
        <div class="btn-group" style="margin-left: 4px">
            <button type="button" id="btnCancel" data-toggle="tooltip"  title="ביטול" data-placement="top"
                  data-url="@Url.Action("Index", "F")"  
                class="btn btn-danger btn-circle btn-xl">
                <img src="~/Content/img/delete32x32.png" />
            </button>
        </div>
        <div class="btn-group" style="margin-left: 4px">
            <button type="button" id="btnBack"   data-toggle="tooltip"  title="חזרה" data-placement="top"  data-url="@Url.Action("Index", "F")" 
            class="btn btn-primary btn-circle btn-xl">
                <img src="~/Content/img/back32x32.png" />
            </button>
        </div>
    </div>
</div>

<div class="panel-group" id="accordion">
        <div class="panel panel-default">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOrder">הצג מחיר מומלץ לצרכן</a>
            </h4>
        </div>
        <div id="collapseOrder" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    @Html.Partial("_priceBox")
                </div>
            </div>
        </div>
    </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">הצג כתובות יעד והמקור</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    <span class="label label-success">@Html.Partial("_addressView", Model.SourceAddress)</span>
                                    <span class="prefix  pull-right">כתובת השולח:</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label label-danger">@Html.Partial("_addressView", Model.TargetAddress) </span>
                                    <span class="prefix  pull-right">כתובת היעד:</span>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">שדות חישוב</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        ddd
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTree">מוצרי המשלוח</a>
                </h4>
            </div>
            <div id="collapseTree" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <table class=" table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Author</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                   <td></td>
                                    <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
</div>

@section Scripts {
       <link href="~/Content/offer.css" rel="stylesheet" />
 
    @Scripts.Render("~/api/OfferService/GetOffer?shipid=" + Model.Id + "&offerId=" + Model.OfferId)
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/offer.js"></script>
  
}
@Html.Partial("_dlgItemPrice")