@model Michal.Project.Models.AddressEditorViewModel

@{ string textbox = Html.ClientIdFor(model => model).ToString(); }
<div class="panel panel-default panel-body">

    @Html.HiddenFor(m => m.UId)
    @Html.HiddenFor(m => m.Lat)
    @Html.HiddenFor(m => m.Lng)
    @Html.HiddenFor(m => m.IsSensor)
    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.HiddenFor(m => m.Citycode, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" ,autocomplete="off"})
            @Html.ValidationMessageFor(m => m.City)
            @Html.ValidationMessageFor(m => m.Citycode)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Street, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.HiddenFor(m => m.Streetcode, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.Street, new { @class = "form-control",autocomplete="off" })
            @Html.ValidationMessageFor(m => m.Street)
            @Html.ValidationMessageFor(m => m.Streetcode)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Num, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Num, new { @class = "form-control",autocomplete="off" })
            @Html.HiddenFor(m => m.NumOld)
            @Html.ValidationMessageFor(m => m.Num)

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ExtraDetail, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.ExtraDetail, new { @class = "form-control" })
        </div>
    </div>
    <input id="@textbox" class="autp" value="@textbox" type="hidden" />
</div>

