@model Michal.Project.Models.AddressEditorViewModel

   @{ string textbox = Html.ClientIdFor(model => model).ToString(); }
<div class="panel panel-default panel-body">

    @Html.HiddenFor(m => m.UId)
    <p>asasas
        @Html.LabelFor(m => m.Street)
        @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Street, null, new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.StreetCode, new { @class = "form-control" })
    </p>
    <p>
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.City, null, new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.CityCode, new { @class = "form-control" })
    </p>

    <div id="map_canvas" style="width: 400px; height: 400px">"@textbox</div>
    <input id="@textbox" class="autp" value="@textbox" />
</div>

