@model Michal.Project.Models.View.FollowsView

@{
    //ViewBag.Title = "הזמנות חדשות-טיוטות";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_navLists")

<div class="row">
    <div class="col-md-12">
        <h3><b class="centered">@Model.Title</b> </h3>
    </div>
</div>
@Html.Partial("_pagerDays", Model)
<div class="row">
    <div class="col-md-12">
        <div style="overflow-x: scroll;">
            <table class="col-md-12 table table-striped table-hover">
                <tr>
                    <th>@Html.DisplayColumnNameFor(Model.Items, model => model.Name)</th>
                    <th>@Html.DisplayColumnNameFor(Model.Items, model => model.DistanceName)</th>
                    <th>@Html.DisplayColumnNameFor(Model.Items, model => model.Status)</th>
                    <th>@Html.DisplayColumnNameFor(Model.Items, model => model.ShipTypeIdName)</th>
                    <th>@Html.DisplayColumnNameFor(Model.Items, model => model.CreatedOn)</th>
                    <th>@Html.DisplayColumnNameFor(Model.Items, model => model.From)</th>
                    <th>@Html.DisplayColumnNameFor(Model.Items, model => model.To)</th>
                </tr>
                @if (!Model.Items.Any())
                {
                    <tr>
                        <td colspan="6">
                            <h4 class="text-center">אין רשומות בטבלה זאת</h4>
                        </td>
                    </tr>
                }
                @foreach (var item in Model.Items)
                {
                    <tr style="cursor: pointer;" onclick="javascript:clickToOrder('@(Url.Action("ShipView", "S", new { id = item.Id }))')">
                        <td>@Html.DisplayFor(modelItem => item.Name) </td>
                        <td>@Html.DisplayFor(modelItem => item.DistanceName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.ShipTypeIdName)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedOn) </td>
                        <td>@Html.DisplayFor(modelItem => item.From)</td>
                        <td>@Html.DisplayFor(modelItem => item.To)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("_pager", Model)
</div>
