@model sln.Models.ShippingVm

@{
    ViewBag.Title = "משלוח חדש";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "S", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
<hr />
@Html.ValidationSummary()
   
<div class="form-group">
    @Html.LabelFor(m => m.DistanceId, new { @class = "col-md-2 control-label" })
          <div class="col-md-6">
              @Html.DropDownListFor(m => m.DistanceId ,(SelectList)ViewBag.Distance);
          </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.NumFrom, new { @class = "col-md-2 control-label" })
          <div class="col-md-6">
              @Html.TextBoxFor(m => m.NumFrom, new { @class = "form-control" })
          </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SreetFrom, new { @class = "col-md-2 control-label" })
          <div class="col-md-6">
              @Html.TextBoxFor(m => m.SreetFrom, new { @class = "form-control" })
          </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CityForm, new { @class = "col-md-2 control-label" })
          <div class="col-md-6">
              @Html.DropDownListFor(m => m.CityForm ,(SelectList)ViewBag.City);
          </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.NumTo, new { @class = "col-md-2 control-label" })
          <div class="col-md-6">
              @Html.TextBoxFor(m => m.NumTo, new { @class = "form-control" })
          </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SreetTo, new { @class = "col-md-2 control-label" })
          <div class="col-md-6">
              @Html.TextBoxFor(m => m.SreetTo, new { @class = "form-control" })
          </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CityTo, new { @class = "col-md-2 control-label" })
          <div class="col-md-6">
              @Html.DropDownListFor(m => m.CityTo ,(SelectList)ViewBag.City);
          </div>
</div>



<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="הרשמה" />
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
