@model IEnumerable<sln.Models.ShippingVm>

@{
    ViewBag.Title = "הזמנות חדשות";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
<table class="table table-striped table-hover">
    <tr>
        <th> @Html.DisplayNameFor(model => model.Name)</th>
        <th> @Html.DisplayNameFor(model => model.DistanceName)</th>
        <th> @Html.DisplayNameFor(model => model.Status)</th>
        <th> @Html.DisplayNameFor(model => model.CreatedBy)</th>
        <th> @Html.DisplayNameFor(model => model.CreatedOn)</th>
        <th> @Html.DisplayNameFor(model => model.CityToName)</th>
        <th> @Html.DisplayNameFor(model => model.CityFormName)</th>
     
    </tr>
@if( !Model.Any() )
{
 <tr>
        <td colspan="6" ><h4 class="text-center">אין משלוחים חדשים</h4> </td>
</tr>
}
@foreach (var item in Model) {
    <tr onclick="location.href = '@(Url.Action("Edit", "S", new { id = item.Id }))'">
  
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>  @Html.DisplayFor(modelItem => item.DistanceName)</td>
        <td>  @Html.DisplayFor(modelItem => item.Status)</td>
        <td>  @Html.DisplayFor(modelItem => item.CreatedBy)</td>
        <td>  @Html.DisplayFor(modelItem => item.CreatedOn) </td>
        <td>  @Html.DisplayFor(modelItem => item.CityToName)</td>
        <td>  @Html.DisplayFor(modelItem => item.CityFormName)</td>
    </tr>
}

</table>
