@model Michal.Project.Models.OrderView

@{
    ViewBag.Title = "בדיקה קיים";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
<h1>מספר משלוח @ViewBag.OrderNumber</h1>
<div class="row">
    <div class="col-md-12">
        <h4>סטאטוס משלוח הזמנה</h4>

        <ul class="list-group">
            <li class="list-group-item">
                <span >@Model.ShippingVm.Status</span>
                <span class="prefix  pull-right">סטאטוס:</span>
            </li>
            <li class="list-group-item">
                <span >@Model.ShippingVm.CreatedOn</span>
                <span class="prefix pull-right">תאריך יצירה:</span>
            </li>
            <li class="list-group-item">
                <span >@Model.ShippingVm.ModifiedOn</span>
                <span class="prefix pull-right">תאריך אחרון שעודכן:</span>
            </li>
            <li class="list-group-item">
                <span >@Html.DisplayFor(m=>m.ShippingVm.SourceAddress)</span>
                <span class="prefix  pull-right">מ:</span>
            </li>
            <li class="list-group-item">
                <span >@Model.ShippingVm.NameSource</span>
                <span class="prefix pull-right">איש קשר (מקור):</span>
            </li>
            <li class="list-group-item">
                <span >@Model.ShippingVm.TelSource</span>
                <span class="prefix pull-right">טלפון איש קשר (מקור):</span>
            </li>
            <li class="list-group-item">
               <span >@Html.DisplayFor(m=>m.ShippingVm.TargetAddress)</span>
                <span class="prefix  pull-right">אל:</span>
            </li>
            <li class="list-group-item">
                <span >@Model.ShippingVm.Recipient</span>
                <span class="prefix pull-right">איש קשר (יעד):</span>
            </li>

            <li class="list-group-item">
                <span >@Model.ShippingVm.TelTarget</span>
                <span class="prefix pull-right">טלפון איש קשר (יעד):</span>
            </li>


        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        
        <img src="http://chart.googleapis.com/chart?cht=qr&chs=200x200&chld=L|1&chl=@HttpContext.Current.Server.UrlEncode(HttpContext.Current.Request.Url.AbsoluteUri)" />
        <!--http://chart.googleapis.com/chart?chs=100x100&cht=qr&chld=L|1&chl=http%3A%2F%2Fcreate.stephan-brumme.com
            http://chart.googleapis.com/chart?cht=qr&chs=200x200&chld=L|1&chl=http%3a%2f%2flocalhost%3a4545%2fS%2fShow%2f1d0ecb74-8e90-4a51-884c-e0e18dac52b0
            
             -->

    </div>
</div>
<div class="row">
    <div class="col-md-12">   
         <h3><b><a  href="@Url.Action("ShipView", "S", new { id =  @Model.ShippingVm.Id })">חזרה</a>
      </b></h3>
    </div>
</div>
