@model RunnerView

@{
    ViewBag.Title = " פרטי משלוח " + Model.ShippingVm.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>אישור משלוח  @Model.ShippingVm.Name</h4>
@section ordernumber {
 @Html.Partial("_orderToolbar", Model)
}

<div class="row">
@Html.Partial("UserDetail",Model.CurrentRunner)
</div>

@section Scripts {
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/rantoolbx.js"></script>
}

